RewriteEngine On
RewriteBase /

# Internally serve /en/mission from /en/mission.html (invisible)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.html [END,L]

# Temporary 302 redirect: /en/mission.html → /en/mission
RewriteRule ^(.+)\.html$ $1 [R=302,L]
