#
# Copyright (c) 2011-2026 Ricardo do Canto
#
# This file is part of the EnduranceTrio project.
#
# Licensed under the Functional Software License (FSL), Version 1.1, ALv2 Future License
# (the "License");
#
# You may not use this file except in compliance with the License. You may obtain a copy
# of the License at https://fsl.software/
#
# THE SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF FITNESS FOR A PARTICULAR
# PURPOSE, MERCHANTABILITY, TITLE OR NON-INFRINGEMENT.
#
# IN NO EVENT WILL WE HAVE ANY LIABILITY TO YOU ARISING OUT OF OR RELATED TO THE
# SOFTWARE, INCLUDING INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES,
# EVEN IF WE HAVE BEEN INFORMED OF THEIR POSSIBILITY IN ADVANCE.
#

spring:
  application:
    name: EnduranceTrio Community

  datasource:
    url: jdbc:h2:mem:endurancetrio;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: EnduranceCode
    password: EnduranceTrio

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/ddl
      - classpath:db/migration/dml
    schemas: endurancetrio
    table: flyway_schema_history

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

  messages:
    basename: messages
    encoding: UTF-8

  thymeleaf:
    cache: false
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
